<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap-theme.css">

    <script src="../jquery.js"></script>
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>


</head>
<body>

<table class="table table-bordered">
    <caption>信息表单</caption>
    <thead>
        <tr>
        <th>姓名</th>
        <th>年龄</th>
        <th>成绩</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>Tanmay</td>
        <td>Bangalore</td>
        <td>560001</td>
        </tr>
        <tr>
        <td>Sachin</td>
        <td>Mumbai</td>
        <td>400003</td>
        </tr>
        <tr>
        <td>Uma</td>
        <td>Pune</td>
        <td>411027</td>
        </tr>
    </tbody>
    </table>
    
</body>
</html>