<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap-theme.css">

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style>
        .item{
            width:610px;
            margin:20px auto;
        }
        .search{
            width: 17em;
            margin-top: 3em;
            height: 2em;
            position: relative;
            left:705px;
            top: 40px;
        }
        .home{
            width:610px;
            height: 2em;
            position: relative;
            left:340px;
            top: 40px;
        }
    </style>

</head>
<body>

{#搜索框#}
<div class="search">
    <form class="bs-example bs-example-form" role="form" action="{{ url_for ('findSrudent') }}" method="post">
        <div class="input-group">
            <span class="input-group-addon">搜索</span>
            <input type="text" class="form-control" name='str' placeholder="学生名称">
        </div>
        <br>
    </form>
</div>

{#学生信息展示#}
<div class="item">
<table class="table table-bordered">
    <caption>搜索结果:</caption>
    <thead>
        <tr>
        <th>id</th>
        <th>名称</th>
        <th>英语</th>
        <th>Python</th>
        <th>C</th>
        <th>总成绩</th>
        <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr class="active">
                <td>{{ student.id }}&nbsp;&nbsp;&nbsp;</td>
                <td>{{ student.name }}</td>
                <td>{{ student.English }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{ student.Python }}&nbsp;</td>
                <td>{{ student.C }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{ student.Total_score }}</td>
                <td>
                    <a class="btn btn-warning" href="#" role="button">修改</a>
                    &nbsp;&nbsp;
                    <a class="btn btn-danger" href="#" role="button">删除</a>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>
</div>

<a class="btn btn-success home" href="{{ url_for ('index') }}" role="button">返回首页</a>


</body>
</html>